<header class="bg-white shadow-md sticky top-0 z-50">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
        <div class="flex items-center">
            <!-- Logo -->
            <img src="./../../../assets/logo.png" alt="BMA Logo" class="w-10 h-10">
            <h1 class="text-xl font-bold ml-2">Book My Ambulance (BMA)</h1>
        </div>
        <!-- Navigation -->
        <nav class="space-x-8">
        </nav>
    </div>
</header>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book My Ambulance (BMA)</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 text-gray-900">
    <google-map 
    height="500px" 
    width="900px" 
    [center]="{ lat: lat, lng: lng }" 
    [zoom]="zoom" 
    (mapClick)="move($event)">
</google-map>
</body>
</html>