<div class="flex overflow-hidden align-items-center justify-content-center">
    <p-tabMenu
      *ngIf="isDesktop"
      class="topBarNavItems flex-grow-1 flex align-items-center justify-content-center font-bold px-3 border-round"
      [model]="items"
      [activeItem]="activeItem"
      (activeItemChange)="onActiveItemChange($event)"
    />
    
    <button *ngIf="!isDesktop" (click)="sidebarVisible = true" class="hamburger-button">
        <i class="pi pi-bars"></i> <!-- Hamburger icon -->
    </button>

    <p-sidebar [modal]="false" [(visible)]="sidebarVisible" position="left" [style]="{width: '250px'}">
        <ul style="display: block;">
            <li>
                <a pRipple href="/home" class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                    <i class="pi pi-address-book mr-2"></i>
                    <span class="font-medium">Home</span>
                </a>
            </li>
            <br>
            <li>
                <a pRipple href="/register" class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                    <i class="pi pi-list mr-2"></i>
                    <span class="font-medium">Register</span>
                </a>
            </li>
            <br>
            <li>
                <a pRipple href="/login" class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                    <i class="pi pi-shopping-cart mr-2"></i>
                    <span class="font-medium">Login</span>
                </a>
            </li>
            <br>
            <li>
                <a pRipple href="/book-ambulance" class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                    <i class="pi pi-shopping-cart mr-2"></i>
                    <span class="font-medium">Book An Ambulance</span>
                </a>
            </li>
            <br>
            <li>
                <a pRipple href="/contact-us" class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                    <i class="pi pi-address-book mr-2"></i>
                    <span class="font-medium">Contact Us</span>
                </a>
            </li>
        </ul>
    </p-sidebar>

</div>